{% extends 'base.html.twig' %}

{% block title %}Edit Fish{% endblock %}

{% block body %}
    <h1>Edit Fish</h1>

    {{ include('fish/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fish_index') }}">back to list</a>

    {{ include('fish/_delete_form.html.twig') }}
{% endblock %}
