{% extends 'base.html.twig' %}

{% block title %}New IngredientType{% endblock %}

{% block body %}
    <h1>Create new IngredientType</h1>

    {{ include('ingredient_type/_form.html.twig') }}

    <a href="{{ path('ingredient_type_index') }}">back to list</a>
{% endblock %}
